In [53]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import IncrementalPCA
import pickle
import classes.constantes

In [3]:
skip_func = lambda x: x > 0 and np.random.rand() > 0.03
#df = pd.read_csv('../BASE/IA_TUDO_EM_DIA_CONTROLE.txt', sep=';', skiprows=skip_func)
df = pd.read_csv('../BASE/IA_TUDO_EM_DIA_CONTROLE.txt', sep=';')

In [5]:
df.renda = df.renda.str.replace(',', '.').astype(float)

In [6]:
df.renda.count()

426193

In [8]:
df.dt_rec.fillna(0, inplace=True)

In [54]:
with open('algoritimos/resultado_completos_metrica_algoritimos.pickle', 'rb') as file:
    df = pickle.load(file)
df

{'resultados': {'GaussianNB': {'accuracy': 0.6866666666666666,
   'cv_accuracy': 0.6820714285714284,
   'cv_std': 0.07389212352048997},
  'ExtraTrees': {'accuracy': 0.9455,
   'cv_accuracy': 0.9457857142857142,
   'cv_std': 0.003620378827849766},
  'LogisticRegression': {'accuracy': 0.9375,
   'cv_accuracy': 0.9368571428571428,
   'cv_std': 0.0032450904833144327},
  'KNeighbors': {'accuracy': 0.9378333333333333,
   'cv_accuracy': 0.9359285714285713,
   'cv_std': 0.004116294152635402},
  'GradientBoosting': {'accuracy': 0.9458333333333333,
   'cv_accuracy': 0.9462857142857141,
   'cv_std': 0.003481730744843974},
  'AdaBoost': {'accuracy': 0.9401666666666667,
   'cv_accuracy': 0.9425000000000001,
   'cv_std': 0.004642857142857139},
  'DecisionTree': {'accuracy': 0.901,
   'cv_accuracy': 0.9072857142857143,
   'cv_std': 0.0043542144726080615},
  'RandomForest': {'accuracy': 0.9461666666666667,
   'cv_accuracy': 0.9470000000000001,
   'cv_std': 0.004012734830053779}},
 'inicio': '2024-01-06 10:35:30',
 'fim': '2024-01-06 10:36:19',
 'best_model_comite': {'cv_accuracy': 0.9442857142857143,
  'cv_std': 0.0038332593899996314,
  'test_accuracy': 0.9438333333333333,
  'inicio_mc': '2024-01-06 10:36:37',
  'fim_mc': '2024-01-06 10:37:22'}}

In [6]:
with open('variaveis/previsores.pickle', 'rb') as file:
    df2 = pickle.load(file)

In [12]:

df3 = df2[:1000]
df3.to_csv('teste/base_teste.csv')

In [7]:
df2

,co_ope,dt_base,vlr_base,dt_nasc,sexo,renda,renda_liq,dt_relac,co_cart,co_prof,cep
0,60,44613,1164.12,27553.0,0,1252.00,700.00,38872.0,0,151,3213
1,56,44613,1558.54,28634.0,0,2000.00,2000.00,37444.0,0,315,5040
2,60,44613,1816.37,28634.0,0,2000.00,2000.00,37444.0,0,315,5040
3,17,44857,1936.85,28634.0,0,2000.00,2000.00,37444.0,0,315,5040
4,16,44857,1061.43,33171.0,0,0.00,0.00,40989.0,0,204,24986
...,...,...,...,...,...,...,...,...,...,...,...
14237005,6,44857,1279.93,34252.0,0,2376.43,2192.26,41581.0,0,132,24739
14237006,17,44843,524.40,34252.0,0,2376.43,2192.26,41581.0,0,132,24739
14237007,60,44634,1454.23,28885.0,0,1806.36,1104.66,41140.0,0,198,4957
14237008,6,44857,1961.08,28285.0,0,4551.42,3876.00,41217.0,0,315,5045
14237009,16,44650,1085.29,33561.0,0,2238.20,1978.36,43179.0,0,96,24116

In [67]:
import pandas as pd
dfs = pd.read_csv('resultados/resultado_final.csv', sep=',')

dfs.head(30)

,Unnamed: 0,co_ope,dt_base,vlr_base,dt_nasc,sexo,renda,renda_liq,dt_relac,co_cart,co_prof,cep,predicao,score
0,0,60,44613,1164.12,27553.0,0,1252.00,700.00,38872.0,0,151,3213,0,13.0
1,1,56,44613,1558.54,28634.0,0,2000.00,2000.00,37444.0,0,315,5040,0,37.0
2,2,60,44613,1816.37,28634.0,0,2000.00,2000.00,37444.0,0,315,5040,0,35.0
3,3,17,44857,1936.85,28634.0,0,2000.00,2000.00,37444.0,0,315,5040,0,8.0
4,4,16,44857,1061.43,33171.0,0,0.00,0.00,40989.0,0,204,24986,0,9.0
5,5,16,44857,4764.18,28305.0,0,0.00,0.00,40646.0,0,110,3464,0,4.0
6,6,17,44857,1864.07,28654.0,0,0.00,0.00,41030.0,0,91,5312,0,5.0
7,7,21,44857,10144.65,28654.0,0,0.00,0.00,41030.0,0,91,5312,0,1.0
8,8,60,44613,3845.04,28654.0,0,0.00,0.00,41030.0,0,91,5312,0,19.0
9,9,58,44613,12475.81,28654.0,0,0.00,0.00,41030.0,0,91,5312,0,21.0
10,10,21,44857,1481.09,33620.0,0,2756.56,1921.42,39848.0,0,241,25295,0,21.0
11,11,21,44857,1209.21,33620.0,0,2756.56,1921.42,39848.0,0,241,25295,0,21.0
12,12,17,44843,2179.16,33620.0,0,2756.56,1921.42,39848.0,0,241,25295,0,24.0
13,13,56,44613,1973.96,33620.0,0,2756.56,1921.42,39848.0,0,241,25295,0,32.0
14,14,21,44857,2598.83,31923.0,0,1314.42,648.24,40981.0,0,195,7797,0,4.0
15,15,21,44857,1167.80,31923.0,0,1314.42,648.24,40981.0,0,195,7797,0,2.0
16,16,56,44613,598.68,31541.0,0,0.00,0.00,42882.0,0,149,14213,0,18.0
17,17,16,44857,7325.56,23193.0,0,0.00,0.00,37096.0,0,131,170,0,7.0
18,18,16,44853,598.29,31789.0,0,0.00,0.00,39635.0,0,411,8284,0,6.0
19,19,58,44856,1515.73,31867.0,0,0.00,0.00,39606.0,0,126,13651,0,23.0
20,20,60,44613,1715.01,31816.0,0,0.00,0.00,38501.0,0,367,8355,0,17.0
21,21,60,44613,35.99,30780.0,0,3750.00,3500.00,39253.0,0,264,14293,0,30.0
22,22,17,44857,3461.10,26500.0,0,1820.00,1820.00,36836.0,0,304,5615,0,10.0
23,23,58,44613,898.12,27917.0,0,0.00,0.00,36607.0,0,315,3961,0,24.0
24,24,16,44829,664.62,31512.0,0,1896.03,1102.05,39965.0,0,318,13001,0,49.0
25,25,14,44857,12286.68,31461.0,0,0.00,0.00,41687.0,0,151,8486,0,3.0
26,26,20,44843,1068.58,33330.0,0,2190.00,2190.00,39302.0,0,304,22280,0,27.0
27,27,58,44716,4402.85,10587.0,0,7849.00,6231.00,35415.0,0,277,3970,0,7.0
28,28,16,44857,9439.90,28881.0,0,0.00,0.00,41370.0,0,267,5551,0,2.0
29,29,58,44613,1135.50,28881.0,0,0.00,0.00,41370.0,0,267,5551,0,14.0

In [65]:
dfs.query('predicao_results > 0').head(30).sort_values('score_ajustado', ascending=True)

,Unnamed: 0.1,Unnamed: 0,co_ope,dt_base,vlr_base,dt_nasc,sexo,renda,renda_liq,dt_relac,co_cart,co_prof,cep,predicao_results,score_results,score_ajustado
608,608,608,56,44634,1627.34,33039.0,0,3118.84,3118.84,39333.0,0,136,22682,1,0.53,53.0
933,933,933,17,44829,1105.51,32294.0,0,1300.00,1300.00,39187.0,0,240,14239,1,0.58,58.0
32,32,32,6,44809,5053.96,33143.0,0,3657.56,1778.02,39875.0,0,132,24246,1,0.72,72.0
33,33,33,6,44809,1760.61,33143.0,0,3657.56,1778.02,39875.0,0,132,24246,1,0.76,76.0
203,203,203,16,44809,1709.46,26572.0,0,4000.00,3875.75,35070.0,0,278,15262,1,0.76,83.6
200,200,200,17,44809,1008.35,29064.0,0,1500.00,1380.00,43606.0,0,36,5793,1,0.84,92.4
209,209,209,17,44733,3909.99,25176.0,0,9819.48,5193.01,35676.0,0,46,474,1,0.85,93.5
47,47,47,6,44650,47487.58,20728.0,0,4598.16,4598.16,33314.0,0,130,16253,1,0.88,96.8
248,248,248,17,44650,590.00,31771.0,0,0.00,0.00,39936.0,0,199,8359,1,1.00,100.0
828,828,828,21,44610,968.30,28751.0,0,0.00,0.00,39608.0,0,199,5741,1,0.96,100.0
778,778,778,17,44622,454.86,31196.0,0,1071.00,1071.00,40236.0,0,132,8331,1,0.97,100.0
746,746,746,17,44650,2576.71,32288.0,0,0.00,0.00,41980.0,0,240,12566,1,1.00,100.0
718,718,718,17,44610,1173.35,35730.0,0,5000.00,5000.00,42480.0,0,73,15349,1,0.93,100.0
679,679,679,16,44610,209.33,31647.0,0,927.16,927.16,39151.0,0,132,8286,1,0.95,100.0
665,665,665,17,44610,2884.33,31962.0,0,5330.00,4521.22,39337.0,0,136,13303,1,0.94,100.0
628,628,628,16,44610,897.40,32247.0,0,0.00,0.00,39236.0,0,220,12334,1,0.97,100.0
621,621,621,6,44650,5253.03,28336.0,0,7593.73,3727.10,37549.0,0,132,3249,1,0.91,100.0
829,829,829,16,44610,878.12,28751.0,0,0.00,0.00,39608.0,0,199,5741,1,0.96,100.0
488,488,488,17,44650,1527.66,32716.0,0,4282.00,3694.14,40142.0,0,126,12176,1,0.96,100.0
487,487,487,6,44650,4939.99,32716.0,0,4282.00,3694.14,40142.0,0,126,12176,1,0.96,100.0
423,423,423,17,44809,668.73,30656.0,0,0.00,0.00,42101.0,0,148,7636,1,0.94,100.0
419,419,419,17,44610,747.18,32183.0,0,1923.00,898.36,43204.0,0,149,8357,1,0.95,100.0
291,291,291,14,44650,19122.06,31963.0,0,0.00,0.00,40747.0,0,264,8755,1,0.99,100.0
620,620,620,6,44650,4026.85,28336.0,0,7593.73,3727.10,37549.0,0,132,3249,1,0.91,100.0
511,511,511,14,44650,9980.37,31150.0,0,0.00,0.00,39684.0,0,304,24113,1,0.98,100.0

In [46]:
dfs.query('score > 0.3').sort_values('score', ascending=False).head(3)

,Unnamed: 0,co_ope,dt_base,vlr_base,dt_nasc,sexo,renda,renda_liq,dt_relac,co_cart,co_prof,cep,score,predicao
778,778,17,44622,454.86,31196.0,0,1071.0,1071.0,40236.0,0,132,8331,1.0,1
248,248,17,44650,590.00,31771.0,0,0.0,0.0,39936.0,0,199,8359,1.0,1
628,628,16,44610,897.40,32247.0,0,0.0,0.0,39236.0,0,220,12334,1.0,1

In [9]:
df3 = df2[:1000]

KeyboardInterrupt:

In [7]:
prev = pd.DataFrame(df)

In [8]:
prev

,resultados,inicio,fim
DecisionTree,"{'accuracy': 0.9044, 'cv_accuracy': 0.90622857...",2024-01-05 09:07:36,2024-01-05 09:09:30
RandomForest,"{'accuracy': 0.9482333333333334, 'cv_accuracy'...",2024-01-05 09:07:36,2024-01-05 09:09:30

In [55]:
results = pd.read_csv('resultados/ExtraTrees.csv', sep=',')
results

    ,co_ope,dt_base,vlr_base,dt_nasc,sexo,renda,renda_liq,dt_relac,co_cart,co_prof,cep,predicao,score
0    0,60,44613,1164.12,27553.0,0,1252.0,700.0,3887...
1    1,56,44613,1558.54,28634.0,0,2000.0,2000.0,374...
2    2,60,44613,1816.37,28634.0,0,2000.0,2000.0,374...
3    3,17,44857,1936.85,28634.0,0,2000.0,2000.0,374...
4    4,16,44857,1061.43,33171.0,0,0.0,0.0,40989.0,0...
..                                                 ...
995  995,7,44857,566.93,34318.0,0,0.0,0.0,41919.0,0...
996  996,7,44857,2058.02,34318.0,0,0.0,0.0,41919.0,...
997  997,6,44857,4137.12,23602.0,0,0.0,0.0,38441.0,...
998  998,6,44901,3310.34,18972.0,0,5005.72,2953.04,...
999  999,6,44901,5149.36,18972.0,0,5005.72,2953.04,...

[1000 rows x 1 columns]